@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4 mb-3 text-center text-white bg-transparent">
        <div class="card card-body bg-primary" style="height:40px;padding:10px;">
            Thursday
        </div>
    </div>
    <div class="col-md-4 mb-3 text-center text-white bg-transparent">
        <div class="card card-body bg-danger" style="height:40px;padding:10px;">
            Yesterday
        </div>
    </div>
    <div class="col-md-4 mb-3 text-center text-white bg-transparent">
        <div class="card card-body bg-dark" style="height:40px;padding:10px;">
            Today
        </div>
    </div>
</div>
<div class="row">
    @for (int i = 1; i <= 12; i++)
    {
        var date = new DateTime(2021,i,1);
        <div class="col-md-4" style="margin-bottom:10px;">
            <div class="card text-center">
                <div class="card-header">
                    @date.ToString("MMMM, yyyy")
                </div>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
                    </div>
                    <h4 class="card-title">Special title treatment</h4>
                    
                    <div class="detail-row"><div class="detail-title">Present</div><div class="detail-value">20 days</div></div>
                    <div class="detail-row highlight-red"><div class="detail-title">Absent</div> <div class="detail-value">10 days</div></div>
                    <div class="detail-row"><div class="detail-title">Total</div>  <div class="detail-value">30 days</div></div>
                </div>
                <a class="card-footer text-muted text-decoration-none text-light" href="#">
                    Details
                </a>
            </div>
        </div>
    }
</div>